@media  (max-width:800px)
{
	#wrapper{
	display: flex;
    flex-direction: column;
}
#wrapper nav{
order: 2;
position: static;
}
#wrapper div.silki{
	order: 3;
}
#wrapper div.table{
order: 5;
}
#wrapper div.form{
	order: 4;
}
header{
order: 1;
background-color: black;
}
 footer{
	order: 7;
	background-color: white;
}
.verh{
	display: inline-grid;
	width: 100%;
	height: 200px;
	align-content: left;
	margin-right: : 200px;
}
.li{
width: 30%;
}	
}



header{
	height: 60px; width: 100% ;
	background-color: white; padding: 10px;
	border-bottom:  2px solid black;
}
footer{
	height: 80px; width: 100% ;
	 padding: 10px;
	border-top: 2px solid black;
	background-color: white;
}
h1{
	position: absolute;
	color:#111;
	display: inline-block;
	padding-bottom: 20px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	
}
h2{
	padding-left: 15px;
}
#logo{
	height: 40px; width: 40px;
	display: inline-block;
	margin-right:20px;
	margin-bottom: 10px;
}
body{
	margin: 0px;
	border: 0px;
}

a{
	text-decoration: none;
}
.li{
	margin-left: -5px;
	padding: 0px;
	border: 1px solid black;
	display: inline-block;
 	background: white;
        color: black;
        width: 33.3%;
        line-height: 50px;
        font-size: 30px
        
}
table{
	width: 60%;
	height: 300px;
text-align: center;
border: 3px solid black;
background-color: red;
margin: auto;
}
.chet{
	background-color: white;
}
td{
	border: 3px solid black;
}
html{
	overflow-x: hidden;
}
form{
margin-left: 15px;
margin-bottom: 10px;

}
h1.footer{
	padding-top: 10px;
}
nav{

	top: 0px;
	position: sticky;
	width: 101%;
	margin-right:-2px;
	padding: 0px;
	margin-top: -1px;
}
ul.verh{
	text-align: center;
	margin: 0px;
	padding: 0px;
}